<div class="container">

        <div class="col-md-8">
            <p>New Beginnings is a non-profit, charitable organization dedicated to the rescue of small dogs in the midwest. All materials bearing the NBSTR trademark or the name New Beginnings Shih Tzu Rescue or NBSTR2 are copyright protected. Information contained within this website may not be utilized in any manner without the express permission of the NBSTR Board of Directors.</p>
        </div>
        <div class="col-md-4">
            <p>
            <ul><h3>Board of Directors</h3>
                <li>Jane Klann- President</li>
                <li>Susan Hackbarth - Vice President</li>
                <li>Melissa Roskopf - Treasurer</li>
                <li>Michele Strupp - Secretary</li>
                <li>Barb Jacobs - Applications Coordinator</li>
            </ul>    
            </p>
        </div>

</div