<div class="main-body">
<div class="container">
    <div class="row">   
        <div class="col-md-4">
            <ul>
            <h3>Mailing Address</h3>
            <li>New Beginnings Shih Tzu Rescue
            PO Box 583
            Menomonee Falls, WI 53052</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul><h3>Board of Directors</h3>
                <li>Jane Klann- President</li>
                <li>Susan Hackbarth - Vice President</li>
                <li>Melissa Roskopf - Treasurer</li>
                <li>Michele Strupp - Secretary</li>
                <li>Barb Jacobs - Applications Coordinator</li>
            </ul>    
        </div>
        <div class="col-md-4">
            <ul><h3>Legal</h3>
                <li>New Beginnings Shih Tzu Rescue, Inc</li>
                <li>501.c3 organization</li>
                <li>Inspected and Licensed by Wisconsin Department of Agriculture, Trade and Consumer Protection</li>
                <li>Dog Facility Operator License # 268560-DS</li>
            </ul>
        </div>
    </div>
</div>

        <div class="container">
            <p>New Beginnings is a non-profit, charitable organization dedicated to the rescue of small dogs in the midwest. All materials bearing the NBSTR trademark or the name New Beginnings Shih Tzu Rescue or NBSTR2 are copyright protected. Information contained within this website may not be utilized in any manner without the express permission of the NBSTR Board of Directors.</p>
        </div>
<h4 style="text-align: center">Looking for a dog trainer in your area?</h4>
<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=Dog%20Training&key=AIzaSyBQs1nMPlgRW8kAtFske2JR8dRoWXE9aOk" allowfullscreen></iframe>
    
</div>