<div class="container">
  <h2>Adoption Application</h2>
   <hr>
    <h4>Contact Information</h4>
    <form role=form>
        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" class="form-control">
            <label for="inputAddress">Street Address</label>
            <input type="text" class="form-control">
            <label for="inputAddress">City, State, Zip Code</label>
            <input type="text" class="form-control">
            <label for="inputNumber">Home Phone Number</label>
            <input type="text" class="form-control" placeholder="ex (262) 987-6543">
            <label for="inputNumber">Cell Phone Number</label>
            <input type="text" class="form-control" placeholder="ex (262) 987-6543">
            <label>What is the best time to reach you?</label>
            <input type="text" class="form-control">
            <label for="inputEmail">Email Address</label>
            <input type="email" class="form-control">
            <label for="inputDog">Name of foster dog in which you are interested in adopting</label>
            <input type="text" class="form-control">
        </div>
        <div class="radio">
            <b>If preferred dog is unavailable, would you like to be considered for a different dog?<br></b>
            <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
            Yes
            </label>
            <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            No
            </label>
        </div>
        <hr>
        <h4>Personal Information</h4>
        <div class="checkbox">
            <b>Residence Information (Check all that apply)</b><br>
            <label>
                <input type="checkbox" value="">
                I rent:
            </label><br>
            <label>
                <input type="checkbox" value="">
                I own:
            </label><br><br>
            <label>
                <input type="checkbox" value="">
                a house
            </label><br>         
            <label>
                <input type="checkbox" value="">
                a townhome, condo, or duplex
            </label><br>            
            <label>
                <input type="checkbox" value="">
                an apartment
            </label>
        </div>
        <div class="form-group">
            <label>If you rent, please provide landlord name and contact number</label>
            <input type="text" class="form-control">
        </div>
        <div class="radio">
            <b>Do you have a fenced-in yard?<br></b>
            <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
            No fence
            </label><br>
            <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Partial fence
            </label><br>
            <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
            Fully fenced/enclosed
            </label><br>
            <label>
            <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
            Underground (invisible) fence
            </label>
        </div>  
        <div class="form-group">
            <label>How many adults live with you?</label>
            <input type="number" class="form-control">
        </div>
        <div class="form-group">
            <label>Please list the ages of any children under 18 in your household.</label>
            <input type="text" class="form-control">
        </div>
        <div class="radio">
            <b>Do you work outside the home?<br></b>
            <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
            No
            </label><br>
            <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Yes, full-time
            </label><br>
            <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
            Yes, part-time
            </label>
        </div>
        <div class="radio">
            <b>If you work outside the home, is there someone else home more often that you?<br></b>
            <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
            Yes, another adult
            </label><br>
            <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Yes, a child (under 18)
            </label><br>
            <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
            No 
            </label>
        </div>
        <div class="radio">
            <b>Is everyone in your house in favor of adopting a dog</b><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                Yes
            </label><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                No, not everyone is in favor
            </label><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                Not sure or haven't discussed
            </label><br>         
        </div>
            <hr>
        <h4>Choosing Our Rescue</h4>
        <div class="radio">
            <b>Have you ever adopted a pet before from a shelter or rescue?</b><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                Yes, a shelter
            </label><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Yes, a rescue
            </label><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                No
            </label>         
        </div>
        <div class="form-group">
            <label for="inputInfo">How did you hear about us?</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="inputInfo">Why do you want to adopt a dog?</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <hr>
        <h4>Choosing The Right Dog</h4>
        <div class="form-group">
            <label for="inputInfo">What type of dog would be a good fit for you and your family?</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="inputInfo">What traits in a dog are unacceptable to you?</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>  
        <hr>
        <h4>Planning For A Dog</h4>
        <div class="form-group">
            <label for="inputInfo">What type of dog would be a good fit for you and your family?</label>
            <input type="text" class="form-control">
        </div>
        <div class="radio">
            <b>What type of dog are you looking for?</b><br>
            <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                Full-time house dog
            </label><br>
            <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                A dog that can live outdoors or stays in an outdoor kennel part-time
            </label><br>
            <label>
            <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                Other (please specify)
                <textarea class="form-control" rows="3"></textarea>
            </label>         
        </div>
        <div class="form-group">
            <label for="inputInfo">How long do you plan on keeping the dog?</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <h5>Please evaluate the following statements:</h5>
        <div class="radio">
            <b>I'm willing to work on house-breaking.</b><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                Yes
            </label><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                No
            </label><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                Maybe
            </label>
            <br><br>
            <b>I'm willing to work on training/manners.</b><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                Yes
            </label><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                No
            </label><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                Maybe
            </label>
            <br><br>
            <b>I'm willing to adopt a dog with special health needs.</b><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                Yes
            </label><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                No
            </label><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                Maybe
            </label>
            <br><br>
            <b>I'm willing to adopt a dog who is very shy or scared.</b><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                Yes
            </label><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                No
            </label><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                Maybe
            </label>
               <br><br>
            <b>I'm open to adopting a pair of dogs.</b><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                Yes
            </label><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                No
            </label><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                Maybe
            </label>
        </div>
        <div class="form-group">
            <label for="inputInfo">Where will your dog be during the day when you are not home?</label>
            <textarea class="form-control" rows="3"></textarea>
            <label for="inputInfo">If you plan on confining your dog to a specific section of your home (while you're home or away), please explain your plans.</label>
            <input type="text" class="form-control">
            <label for="inputInfo">How many hours per day will the dog be left alone?</label>
            <input type="text" class="form-control">
            <label for="inputInfo">Do you have plans for the dog if you will be gone for more than 8-9 hours during the day?</label>
            <input type="text" class="form-control">
            <label for="inputInfo">What are your plans for your dog when you go on vacation?</label>
            <input type="text" class="form-control">
            <label for="inputInfo">What are your plans if something occurs that would bring into question your family's ability to keep the dog?</label>
            <input type="text" class="form-control">
            <label for="inputInfo">Your dog will need several bathroom breaks every day. How do you plan to handle this?</label>
            <input type="text" class="form-control">
            <label for="inputInfo">How will your dog excercise?</label>
            <input type="text" class="form-control">
            <label for="inputInfo">When your dog is outdoors, how will it be kept safe from wandering off, being stolen, or being struck by a vehicle?</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <h5>Please evaluate the following statements:</h5>
        <div class="radio">
            <b>I'm able to afford standard vetting and grooming care.</b><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                Yes
            </label><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                No
            </label>
        </div>
        <div class="radio">
            <b>I can provide medical care and followthrough if my dog becomes seriously ill or injured.</b><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                Yes
            </label><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                No
            </label>
        </div>
        <hr>
        <h4>Current Pet History</h4>
        <div class="radio">
            <b>Do you have any current pets?</b><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                Yes (please specify)
                <input type="text" class="form-control">
            </label><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                No
            </label><br>

        </div>    
        <div class="form-group">
            <label for="inputInfo">Name of current pet #1</label>
            <input type="text" class="form-control">
            <label for="inputInfo">Species/Breed</label>
            <input type="text" class="form-control">
            <label for="inputInfo">Age of pet and length of ownership</label>
            <input type="text" class="form-control">
            
            <label for="inputInfo">Name of current pet #2</label>
            <input type="text" class="form-control">
            <label for="inputInfo">Breed/Species</label>
            <input type="text" class="form-control">
            <label for="inputInfo">Age of pet and length of ownership</label>
            <input type="text" class="form-control">
            
            <label for="inputInfo">Name of current pet #3</label>
            <input type="text" class="form-control">
            <label for="inputInfo">Species/Breed</label>
            <input type="text" class="form-control">
            <label for="inputInfo">Age of pet and length of ownership</label>
            <input type="text" class="form-control">
        </div>
        
        <h4>Past Pet History</h4>
        <div class="radio">
            <b>Have you owned pets in the past?</b><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                Yes
            </label><br>
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                No
            </label><br>
        </div>    
        <div class="form-group">
            <label for="inputInfo">Name of past pet #1</label>
            <input type="text" class="form-control">
            <label for="inputInfo">Species/Breed</label>
            <input type="text" class="form-control">
            <label for="inputInfo">Age of pet, length of ownership, and what happened to the pet, etc</label>
            <textarea class="form-control" rows="3"></textarea>
            
            <label for="inputInfo">Name of current pet #2</label>
            <input type="text" class="form-control">
            <label for="inputInfo">Breed/Species</label>
            <input type="text" class="form-control">
            <label for="inputInfo">Age of pet, length of ownership, and what happened to the pet, etc</label>
            <textarea class="form-control" rows="3"></textarea>
            
            <label for="inputInfo">Name of current pet #3</label>
            <input type="text" class="form-control">
            <label for="inputInfo">Species/Breed</label>
            <input type="text" class="form-control">
            <label for="inputInfo">Age of pet, length of ownership, and what happened to the pet, etc</label>
            <textarea class="form-control" rows="3"></textarea>
            <label for="inputInfo">If you have previously owned any other pets, list their name, species, breed, length of ownership, and what happened to the pet.</label>
            <textarea class="form-control" rows="4"></textarea>
        <hr>
        <h4>References</h4>
        <h5>References are required and you must sumbit a minumum of <b>3 references</b> with their contact information</h5>
        <hr>
        <h4>Veterinary Reference</h4>
        <h5>This reference is required if you have or have had any pets in the last 2 years.<br><br>
            We must have a thorough vetting history. Therefore if, in the past 3 years, you have used more than one vet, you must list all vets used.<br><br>
            You are responsible for alerting any current or past vet clinics that they will be called by a NBSTR volunteer regarding your adoption application.<br><br>
            Note: a vet reference is considered <u>one</u> reference, even if you list multiple vet clinics.
        </h5>
        <div class="form-group">
            <label for="inputInfo">Name of current vet clinic</label>
            <input type="text" class="form-control">
            <label for="inputNumber">Phone Number</label>
            <input type="text" class="form-control" placeholder="ex (262) 987-6543">
            <label for="inputInfo">Name of alternate vet clinic (if applicable)</label>
            <input type="text" class="form-control">
            <label for="inputNumber">Phone Number</label>
            <input type="text" class="form-control" placeholder="ex (262) 987-6543">
            <label for="inputInfo">Name of alternate vet clinic (if applicable)</label>
            <input type="text" class="form-control">
            <label for="inputNumber">Phone Number</label>
            <input type="text" class="form-control" placeholder="ex (262) 987-6543">
        <hr>
        <h4>Groomer Reference</h4>
        <h5>If you currently, or in the past 2 years, have used a groomer, you must complete this section</h5>
        <div class="form-group">
            <label for="inputInfo">Name of groomer</label>
            <input type="text" class="form-control">
            <label for="inputNumber">Phone Number</label>
            <input type="text" class="form-control" placeholder="ex (262) 987-6543">
            <label for="inputInfo">Name and number of any additional groomers (if applicable)</label>
            <input type="text" class="form-control">
        </div>
            <hr>
            <h4>Personal References</h4>
        <div class="form-group">
            <label for="inputInfo">Reference #1</label>
            <input type="text" class="form-control">
            <label for="inputNumber">Phone Number</label>
            <input type="text" class="form-control" placeholder="ex (262) 987-6543">
            <label for="inputInfo">How does this person know you?</label>
            <input type="text" class="form-control">
            <label for="inputInfo">Reference #2</label>
            <input type="text" class="form-control">
            <label for="inputNumber">Phone Number</label>
            <input type="text" class="form-control" placeholder="ex (262) 987-6543">
            <label for="inputInfo">How does this person know you?</label>
            <input type="text" class="form-control">
            <label for="inputInfo">Reference #3</label>
            <input type="text" class="form-control">
            <label for="inputNumber">Phone Number</label>
            <input type="text" class="form-control" placeholder="ex (262) 987-6543">
            <label for="inputInfo">How does this person know you?</label>
            <input type="text" class="form-control">
            <label for="inputInfo">Name and contact info of any alternative reference</label>
            <input type="text" class="form-control">
            <label for="inputInfo">Use this space for any questions or additional information regarding your application</label>
            <textarea class="form-control" rows="4"></textarea>
        </div>
            <hr>
            <h4>Consent</h4>
            <h5>I have read and understand the adoption application guidelines previous to submitting this application. I acknowledge the following:<br><br>
1. All information in this application is truthful and complete.<br>
2. I know I will be contacted regarding my application. I understand that if I do not respond to this contact by email (or by phone if necessary) within 5 days, my application will be discarded.<br>
3. I give New Beginnings volunteer(s) permission to contact my references regarding my adoption application.<br>
4. I understand that my application will be screened by an applications committee member and may possibly be declined. I will be promptly notified if my application is declined.<br>
5. I understand that if my application is approved for processing, the entire process may take more than two weeks.<br>
6. I agree to make any requested clarifications needed regarding information I've included in my application.<br>
7. I understand that my application, or approval of my application may not necessarily result in an adoption and does not imply any rights.<br>
8. I understand that the information included in my application shall only be used privately by New Beginnings Shih Tzu Rescue for purposes of adoptive screening, and will not be used for any commercial or profitable purpose and will not be forwarded or sold to any parties outside of those volunteers in New Beginnings Shih Tzu Rescue Inc., concerned with the adoption process.</h5>
        <div class="form-group">
            <label for="inputInitials">Your initials</label>
            <input type="text" class="form-control">   
        </div>
    </form>
</div>