
<div class="container">
    <div class="main-body">
        <div class="fluid-row" style="text-align:center"><h2>Interested in adopting a dog? <br> Fill out an <a ui-sref="adoption application" id="adoption link"><u>Adoption Application</u></a> today!</h2></p></div>
        <iframe id="pets" src="http://www.petango.com/webservices/adoptablesearch/wsAdoptableAnimals.aspx?species=All&amp;sex=A&amp;agegroup=All&amp;location=&amp;site=&amp;onhold=A&amp;orderby=Random&amp;colnum=3&amp;css=http://www.petango.com/WebServices/adoptablesearch/css/styles.css&amp;authkey=r6dsmrw4oj4dmj6l76enj2uk0esqct1f8rq53i218r7f31g3xm&amp;recAmount=&amp;detailsInPopup=No&amp;featuredPet=Include&amp;stageID=" width="800" height="1500" scrolling="no" frameBorder="0" align="middle" marginHeight="50"></iframe>
    
</div>    
    
</div>