<h1>Donate</h1>

<div class="main-body">
    <p> Help NBSTR everytime you shop using iGIVE and AmazonSmile <br>
        iGive allows you to shop at over 1600 participating online stores. Known as the internet's first shopping mall where purchases benefit the shopper's favorite causes, iGive has over 36,784 charities and non-profit organizations listed. <br>
        <a src="http://www.igive.com/welcome" style="color: black"><br><b>Join iGive</b></a>
    </p>
    <p> AmazonSmile is another simple way for you to support NBSTR. When you shop at smile.amazon.com, you'll find the exact same shopping experience that Amazon.com offers. However, as an added bonus, Amazon will donate a portion of the purchase price to your favorite charitable organization. <br>
        <b>The AmazonSmile organization will donate 0.5% of the purchase price from your eligible AmazonSmile purchases. </b> <br>
        <a src="http://smile.amazon.com/" style="color: black"><br><b>Shop AmazonSmile</b></a>
        
    </p>
    <br>
    <p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="L448HCPV74CHN">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" name="sumbit" alt="PayPal">Donate directly via PayPal</a></form>
    </p>
</div>