<h1>Owner Surrender</h1>

<div class="main-body">
<br>
You may wish to discuss the situation with your veterinarian who may be able to offer a solution. 
<br>    
A vet may also be able to refer you to a trainer who can help eliminate unacceptable behaviors in your dog.
<br>
If you wish for NBSTR to consider adopting your dog into our rescue, we will need the following information emailed to <b><u>nbstr2.intake@yahoo.com</u></b>:
<br><br>
1. Tell us why you need to surrender your dog.
<br>
2. Include your dog's name, age, and sex.
<br>
3. Include medical information: is your dog neutered/spayed and up-to-date on shots?
<br>
4. Include temperament information: bite history and/or aggression.
<br>
5. Attach a picture of your dog.
<br><br>
Once the information is received, you will be contacted by our Intake Coordinator. The process may take some time and we reserve the right to refuse any dog for aggression/bite history.
</div>