<div class="container">    
    <div class="main-body">
        <h1>Owner Surrender</h1>
        <br>We realize that it can be difficult for some to provide a dog with the care it deserves. In such cases, you may wish to discuss the situation with your veterinarian who may be able to offer a solution. A vet may be able to refer you to a trainer who can help eliminate unacceptable behaviors in your dog.
    
        <br><h5></h5>If you wish for NBSTR to consider adopting your dog into our rescue, we will need the following information:</h5><br><br>
            <form role="form">
                <div class="form-group">
                <label for="inputInfo">1. Tell us why you need to surrender your dog.</label>
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="inputInfo">2. Provide your dog's name, age, and sex.</label>
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">    
                <label for="inputInfo">3. Medical information: is your dog neutered or spayed and up to date on vaccinations?</label>
                <textarea class="form-control" rows="3"></textarea>
            </div>    
            <div class="form-group">    
                <label for="inputInfo">4. Temperament information: bite history and/or aggression issues?</label>
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">    
                <label for="inputFile">5. Attach a picture of your dog.</label>
                <input type="file" class="form-control" id="inputFile">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>