.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    text-align:center;
    margin-right:-4px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    
}

.navbar .navbar-collapse {
    text-align: center;
}

iframe {
    display: block;
    margin: 0 auto;
}

.image-area {
    position: auto;
    height: auto;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}


 Main Body Text Area 
.main-body {
    border-top: 5px solid rgb(181, 181, 181);
    padding-top: 10px;
}

/* Home Title */


.container-1 {
    width: 50%;
    height: 50%;
}

#body-content {
    height: 600px;
    width: 600px;
}